## Bài 1: reversed list
Hãy viết một chương trình để đảo ngược các phần tử trong list

In [ ]:
aList = [100, 200, 300, 400, 500]

**Output:**

In [ ]:
[500, 400, 300, 200, 100]

In [ ]:
aList = [100, 200, 300, 400, 500]
# code below this line

# code above this line

In [3]:
aList = [100, 200, 300, 400, 500]

a = aList[::-1]
print(a)

[500, 400, 300, 200, 100]

In [4]:
aList = [100, 200, 300, 400, 500]

print(aList[::-1])

[500, 400, 300, 200, 100]

## Bài 2: concatenation
Hãy tạo ra một list mới bằng cách cộng các phần tử tương ứng của list cũ theo index tương ứng

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

**Output:**

In [ ]:
['My', 'name', 'is', 'Kelly']

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
# code below this line

# code above this line

In [6]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
# code below this line
new_list = list1[0] + list2[0] + list1[1] + list2[1] + list1[2] + list2[2] + list1[3] + list2[3] 
print(new_list)
# code above this line

MynameisKelly

In [8]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]


print(list1[0] + list2[0] + ' '+ list1[1] + list2[1] + ' '+ list1[2] + list2[2] + ' '+ list1[3] + list2[3])

My name is Kelly

In [12]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

new_list = list1[0] + list2[0] + ' '+ list1[1] + list2[1] + ' '+ list1[2] + list2[2] + ' '+ list1[3] + list2[3]
new_list

'My name is Kelly'

In [18]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

new_list = []

a0 = list1[0] + list2[0]
new_list.append(a0)

a1 = list1[1] + list2[1]
new_list.append(a1)

a2 = list1[2] + list2[2]
new_list.append(a2)

a3 = list1[3] + list2[3]
new_list.append(a3)

print(new_list)

['My', 'name', 'is', 'Kelly']

## Bài 3: squared list
Cho sẵn một list chứa các số tự nhiên. Bình phương các phần tử trong list và lưu vào một list mới.

In [ ]:
aList = [1, 2, 3, 4, 5, 6, 7]

**Output**

In [ ]:
[1, 4, 9, 16, 25, 36, 49]
# code below this line

# code above this line

In [16]:
aList = [1, 2, 3, 4, 5, 6, 7]

new_list = []
# code below this line
for i in aList:
    a = i ** 2
    new_list.append(a)

print(new_list)
# code above this line

[1, 4, 9, 16, 25, 36, 49]

## Bài 4: concatenation 2
Tạo ra một list mới từ 2 list ban đầu theo thứ tự như sau:

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

**Output**

In [ ]:
['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
# code below this line

# code above this line

In [17]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

new_list = []
# code below this line

for i in list1:
    for j in list2:
        k = i + j
        new_list.append(k)

print(new_list)
# code above this line

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

## Bài 5: print list
Cho 2 list có cùng số phần tử với nhau. Hãy in các thành phần trong 2 list theo format dưới đây:

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

**Output**

In [ ]:
10 400
20 300
30 200
40 100

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
# code below this line

# code above this line

In [21]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
# code below this line

for i in list1:
    print(list1[i], end = ' ')
for j in list2:
    print(list2[j])
# code above this line

IndexError: list index out of range

## Bài 6: remove empty
Hãy xóa tất cả empty string trong list đã cho.

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

**Output**

In [ ]:
["Mike", "Emma", "Kelly", "Brad"]

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
# code below this line

# code above this line

In [22]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
# code below this line
new_list = list1.remove("")
print(new_list)
# code above this line

None

In [24]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

print(list1.remove(""))

None

## Bài 7: list replacement
Hãy tìm và thay thế số 20 **đầu tiên** trong list thành 200.

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]

**Output**

In [ ]:
[5, 10, 15, 200, 25, 50, 20]

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]
# code below this line

# code above this line

In [34]:
list1 = [5, 10, 15, 20, 25, 50, 20]
# code below this line

new_list = []
for i in list1:
    if i == 20:
        newlist = list1.append(200)
        
    break
    

print(new_list)
# code above this line

[]

## Bài 8: list removement
Hãy xóa bỏ **tất cả** số 20 ra khỏi list

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

**Output:**

In [ ]:
[5, 15, 25, 50]

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]
# code below this line

# code above this line

In [32]:
list1 = [5, 10, 15, 20, 25, 50, 20]
# code below this line

new_list = []
for i in list1:
    if i == 20:
        newlist = list1.remove(20)
    else:
        new_list.append(i)

print(new_list)

[5, 10, 15, 50]